@using EntityLayer.Concrete
@model List<Comment>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
@* <td><a href="#"><i class="fa fa-check text-navy"></i></a></td> *@

<body>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
            <div class="ibox ">
                <div class="ibox-title">
                    <h5>Comments  </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#" class="dropdown-item">Config option 1</a>
                            </li>
                            <li>
                                <a href="#" class="dropdown-item">Config option 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>User</th>
                                <th>Title</th>
                                <th>Blog</th>
                                <th>Score</th>
                                <th>Date</th>
                                <th>Delete</th>
                                <th>Update</th>
                            </tr>
                        </thead>
                        <tbody>
                                @foreach(var comment in Model)
                                {
                                    
                                <tr>
                                <th>@comment.CommendId</th>
                                <td>@comment.CommentUserName</td>
                                <td>@comment.CommentTitle</td>
                                <td>@comment.Blog.BlogTitle</td>
                                <td class="text-navy"> <i class="fa fa-level-up"></i> @comment.BlogScore </td>
                                <td > @(((DateTime)comment.CommentDate).ToString("dd-MMM-yyyy")) </td>
                                <td><a href="#" class="btn btn-outline-danger">Delete</a></td>
                                <td><a href="#" class="btn btn-outline-success">Update</a></td>
                            </tr>
                                }
                        </tbody>
                    </table>
                </div>
            </div>
            </div>
        </div>
            </div>
</body>

</html>


