@using EntityLayer.Concrete
@model List<Blog>

@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Writer`s blogs</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Blog Title</th>
        <th>Blog DateTime</th>
        <th>Category</th>
        <th>Status</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>
    @foreach (var blog in Model)
    {
        <tr>
            <th>@blog.BlogId</th>
            <td>@blog.BlogTitle</td>
            <td>@blog.BlogCreateDate</td>
            <td>@blog.CategoryId</td>
            <td>@blog.BlogStatus</td>
            <td ><a href="#" class="btn btn-danger">Delete</a></td>
            <td><a href="#" class="btn btn-warning">Update</a></td>
       </tr>
    }
</table>

<a href="#" class="btn btn-primary">Add new blog</a>

